{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <section class="col-md-4 offset-md-4 mt-5">
            <form action="/signin/" method="POST" class="card card-body">
                <h1 class="text-center">Signin</h1>
                {{error}}
                {% csrf_token %}
                
                <!-- USERNAME -->
                <div class="mb-3">
                    <label for="id_username">Username:</label>
                    <input type="text" name="username" class="form-control" placeholder="Write your username" required id="id_username">
                </div>

                <!-- PASSWORD -->
                <div class="mb-3">
                    <label for="id_password">Confirm your password:</label>
                    <input type="password" name="password" class="form-control" placeholder="Write your password" required id="id_password">
                </div>

                <button class="btn btn-primary">
                    Signin
                </button>

            </form>
        </section>
    </div>
</main>
{% endblock %}